form {
  width: 100%;
  position: relative;
}

.inputRow:hover {
  overflow-x: auto;
}

.rowControls {
  align-self: flex-end;
  display: flex;
}

.rowControls .icon {
  margin-right: 8px;
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.rowControls .icon.deleteRow:hover {
  color: rgb(151, 0, 0);
}

.rowControls .icon.addRow:hover {
  color: rgb(5, 114, 5);
}

.confirmActionButton.update {
  border: 2px solid rgb(189, 138, 28);
  color: rgb(189, 138, 28);
}

.confirmActionButton.update:hover {
  background-color: rgb(189, 138, 28);
  color: white;
}

.updateActionContainer .errorMessage {
  padding: 0;
}

.updateActionContainer button.dismiss {
  margin-left: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.updateActionContainer button.dismiss:hover {
  background-color: rgb(212, 212, 212);
}