.schema-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  margin-left: 2%;
  box-shadow: 3px 3px 6px gray;
  border-left: 1px solid lightgray;
}

.search-schema-field {
  width: 80%;
  position: relative;
  margin: 12px auto;
}

.search-schema-field input {
  position: relative;
  height: 20px;
  font-size: 0.75rem;
  width: 100%;
  border-radius: 2px;
  border: 1px solid lightgray;
  background-color: #f1f1f1;
  padding-left: 4px;
}

.search-schema-field .search-icon {
  position: absolute;
  top: 0.4rem;
  right: 4px;
  color: #91938F;
  height: 0.8rem;
}

.sort-schema-field {
  width: 100%;
  display: flex;
}

.sort-field-head {
  height: 20px;
  background-color: #399E5A;
  color: rgb(245, 245, 245);
  display: flex;
  padding: 4px 2px;
  align-items: center;
  justify-content: center;
}

.sort-schema-field .sort-field-head {
  width: 25%;
}

.sort-field-head label {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 600;
  margin: 0 0 0 2px;
}

.sort-field-head .sort-icon {
  width: 12px;
}

select.sort-schema-options {
  width: 75%;
  font-size: 0.75rem;
  text-align: center;
  padding-left: 8px;
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.schema-listing {
  height: 96%; 
  width: 100%;
  overflow: hidden;
}

.schema-listing:hover {
  overflow: auto;
}

.schema-name {
  text-align: left;
  box-sizing: border-box;
  padding: 12px 18px;
  cursor: pointer;
  border: 2px solid transparent;
}

.schema-name:hover,
.schema-name.selected {
  border: 2px solid #399E5A;
  box-shadow: 1px 2px 3px lightgray;
}

@media only screen and (max-width: 1366px) {
  .schema-menu {
    width: 96%;
    height: 48%;
    margin-bottom: 2%;
  }

  .schema-name {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 960px) {

}