.side-full-menu {
  margin: 13px 1.5% 13px 3%;
  height: 91vh;
  display: flex;
  background-color: #f1f1f1;
  box-shadow: -1px -2px 3px gray;
}

@media only screen and (max-width: 1366px) {
  .side-full-menu {
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {

}