.side-full-menu {
  margin: 2% 1.5% auto 3%;
  height: 98%;
  display: flex;
  background-color: #F1F1F1;
  box-shadow: -1px -2px 3px #91938F;
}

@media only screen and (max-width: 1366px) {
  .side-full-menu {
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {

}