@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700&family=Rajdhani:wght@400;500;600&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.content {
  font-family: 'Mada', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C8C9C7;
  overflow-y: hidden;
}