.home-container {
    display: flex;
    width: 100vw;
    height: 94vh;
}

.side-menu-container {
    width: 30%;
    border: 1px solid rgb(28, 109, 3);
}

.table-view-container {
    width: 70%;
    border: 1px solid black;
}