.login-div {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    background-color: white;
    padding-top: 24px;
    padding-bottom: 12px;
}

img.login-top-logo {
    width: 50%;
    margin-bottom: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.login-form label.login-input-label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.login-form input.login-input {
    background-color: #F7F7F7;
    border: 0.5px solid #b4b4b4;
    border-radius: 2px;
    margin-bottom: 8px;
    height: 1.4rem;
}

button.login-input-button {
    padding: 8px 32px;
    width: fit-content;
    margin-top: 24px;
    align-self: flex-end;
    color: rgb(156, 156, 156);
    background-color: rgb(124, 123, 123);
    border-radius: 2px;
    border-color: transparent;
    box-shadow: none;
}

button.login-input-button.ready {
    background-color: #4A9F5A;
    color: white;
    box-shadow: 1px 1px 3px rgb(124, 123, 123);
}

.form-message {
    align-self: flex-end;
    color: rgb(185, 2, 2);
    margin-top: 4px;
    font-size: 0.9rem;
}