.side-full-menu {
    margin: 48px 3%;
    height: 85vh;
    display: flex;
    background-color: white;
    box-shadow: -1px -2px 3px gray;
}

/* schema menu */
.schema-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
    margin-left: 2%;
}

.search-schema-field {
    width: 80%;
    position: relative;
    margin: 12px auto;
}

.search-schema-field input {
    position: relative;
    height: 20px;
    font-size: 0.75rem;
    width: 94.5%;
}
.search-schema-field .search-icon {
    position: absolute;
    top: 0.4rem;
    right: 4px;
    color: #91938F;
    height: 0.8rem;
}

.sort-schema-field {
    width: 100%;
    display: flex;
}

.sort-field-head {
    height: 20px;
    background-color: #399E5A;
    color: rgb(245, 245, 245);
    display: flex;
    padding: 4px 2px;
    align-items: center;
    justify-content: center;
}

.sort-schema-field .sort-field-head {
    width: 25%;
}

.sort-field-head label {
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 600;
    margin: 0 0 0 2px;
}

.sort-field-head .sort-icon {
    width: 12px;
}

select.sort-schema-options {
    width: 75%;
    font-size: 0.75rem;
    text-align: center;
    padding-left: 8px;
    border-radius: 0;
}

.schema-listing {
    height: 96%; 
    width: 100%;
    margin-bottom: 4%;
    box-shadow: 3px 3px 6px gray;
    border-left: 1px solid lightgray;
    overflow: hidden;
    /* border: 1px solid lightcoral; */
}
.schema-listing:hover {
    overflow: auto;
}

.schema-name {
    text-align: left;
    box-sizing: border-box;
    padding: 12px 18px;
    cursor: pointer;
    border: 2px solid transparent;
}

.schema-name:hover,
.schema-name.selected {
    border: 2px solid #399E5A;
    box-shadow: 1px 2px 3px lightgray;
}




/* table menu styling */
.table-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 51%;
    margin-left: 2%;
    margin-right: 2%;
}

.table-view-controls {
    display: inline-flex;
    width: 100%;
    height: 28px;
    margin-top: 50px;
}

.sort-table-field {
    display: flex;
    width: 65%;
    height: 100%;
}


.sort-table-field select.sort-table-options {
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    padding-left: 8px;
    border-radius: 0;
}

.view-all-part-tables {
    display: flex;
    width: 35%;
}

.view-all-part-tables .sort-field-head {
    padding-right: 4px;
    width: 60%;
}

.view-all-part-tables .sort-field-head label {
    line-height: 0.5rem;
    padding-top: 1px;
}

.view-all-part-tables .icon-container {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 1px solid gray;
    border-left: none;
    font-size: 0.8rem;
    color: gray;
}

.table-listing {
    height: 96%;
    width: 100%;
    margin-bottom: 4%;
    border: 1px solid lightgray;
    overflow: hidden;
    /* box-shadow: 1px 2px 3px gray; */
}
.table-listing:hover {
    overflow: auto;
}
.table-entry {
    box-sizing: border-box;
    min-width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    position: relative;
    display: flex;
    overflow-x: hidden;
}
.table-entry:hover,
.part-table-entry:hover,
.table-entry.selected,
.part-table-entry.selected {
    overflow-x: auto;
    color: white;
    background-color: #399E5A;
    cursor: pointer;
}

.table-name {
    position: relative;
    margin: 22px 4px 4px 4px;
}

span.tier-label {
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 0.7rem;
    border-radius: 4px;
    border: 1px solid white;
    padding: 1.5px 6px;
    color: white;
}

.tier-label.computed {
    background-color: #BC3B68;
}
.tier-label.manual {
    background-color: #399E5A;
}
.tier-label.lookup {
    background-color: #000000;
}
.tier-label.imported {
    background-color: #3C57C7;
}

.part-table-entry {
    box-sizing: border-box;
    width: 90%;
    margin-left: 10%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    position: relative;
    /* padding: 20px 4px 4px; */
}

.part-table-entry.hide {
    display: none;
}

.part-label {
    display: flex;
    font-size: 0.7rem;
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 4px;
    border-radius: 2px;
}

.part-table-entry.selected .part-label, 
.part-table-entry:hover .part-label {
    border: 1px solid #fff;
}
.part-label.computed-part {
    border: 1px solid #BC3B68;
}
.part-label.imported-part {
    border: 1px solid #3C57C7;
}
.part-label.lookup-part {
    border: 1px solid #000;
}
.part-label.manual-part {
    border: 1px solid #399E5A;
}

.part-label .MT-type {
    color: white;
    padding: 1px 3px 1px 2px;
}
.part-label.computed-part .MT-type {
    background-color: #BC3B68;
}
.part-label.imported-part .MT-type {
    background-color: #3C57C7;
}
.part-label.lookup-part .MT-type {
    background-color: #000;
}
.part-label.manual-part .MT-type {
    background-color: #399E5A;
}

.part-label .part-table-tag {
    font-weight: 600;
    padding: 1px 2px 1px 3px;
    background-color: white;
}
.part-label.computed-part .part-table-tag {
    color: #BC3B68;
}
.part-label.imported-part .part-table-tag {
    color: #3C57C7;
}
.part-label.lookup-part .part-table-tag {
    color: #000;
}
.part-label.manual-part .part-table-tag {
    color: #399E5A;
}


.show-part-table {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.show-part-table.computed {
    border-color: #BC3B68;
}
.show-part-table.imported {
    border-color: #3C57C7;
}
.show-part-table.lookup {
    border-color: #000;
}
.show-part-table.manual {
    border-color: #399E5A;
}

.show-part-table .icon {
    color: gray;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-part-table label.head {
    font-size: 0.6rem;
    line-height: 0.5em;
    box-sizing: border-box;
    white-space: nowrap;
    color: white;
    padding: 4px 2px;
    margin-top: 0;
}
.show-part-table.computed label.head {
    background-color: #BC3B68;
}
.show-part-table.imported label.head {
    background-color: #3C57C7;
}
.show-part-table.lookup label.head {
    background-color: #000;
}
.show-part-table.manual label.head {
    background-color: #399E5A;
}