footer {
  display: flex;
  position: relative;
  height: fit-content;
  width: 100vw;
  background-color: #F1F1F1;
  box-shadow: 0px -3px 3px #C8C9C7;
  padding: 2px;
}

.footer-content {
  position: relative;
  height: 100%;
  align-self: center;
  width: 80%;
}

.footer-content p {
  margin: 0 25% 0 55%;
  width: fit-content;
  font-size: 0.9rem;
  text-align: center;
}

.version-info-div {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #399E5A;
}

.version-number {
  margin-top: 1px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 1366px) {
  .footer-content {
    width: 70%;
  }
  
  .footer-content p {
    margin: 0 20% 0 50%;
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 960px) {
  .footer-content {
    width: 60%;
  }
  
  .footer-content p {
    margin: 0 15% 0 45%;
    font-size: 0.8rem;
  }
}