div.tupleToDeleteCheck,
div.dependencies,
div.deleting {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0px 16px;
}

table.tupleToDelete {
  text-align: left;
  border-collapse: collapse;
}

table.tupleToDelete thead tr th,
table.tupleToDelete tbody tr td {
  border: 1px solid gray;
  padding: 4px;
  white-space: nowrap;
  width: auto;
}

table.tupleToDelete thead tr,
table.tupleToDelete tbody tr {
  width: 100%;
  overflow-x: auto;
}

table.tupleToDelete thead {
  background-color: rgb(212, 212, 212);
}

.deleting .errorMessage {
  padding: 0;
}

.deleting button.dismiss {
  margin-left: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.deleting button.dismiss:hover {
  background-color: rgb(212, 212, 212);
}
