form {
  width: 100%;
  position: relative;
}

.inputRow {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-right: 0;
  flex-direction: flex-end;
  padding-bottom: 12px;
}

.inputRow:hover {
  overflow-x: auto;
}

.rowControls {
  align-self: flex-end;
  display: flex;
}

.rowControls .icon {
  margin-right: 8px;
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.rowControls .icon.deleteRow:hover {
  color: rgb(151, 0, 0);
}

.rowControls .icon.addRow:hover {
  color: rgb(5, 114, 5);
}

.fieldUnit {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 0.5px solid gray;
}

.attributeHead {
  padding: 4px;
  background-color: rgb(228, 228, 228);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.attributeHead label {
  font-weight: 800;
}

.attributeHead .nullableControls {
  display: flex;
  align-items: center;
}

.attributeHead .nullableTag {
  margin-left: 24px;
  border-radius: 2px;
  font-size: 0.7rem;
  background-color: rgb(80, 80, 80);
  padding: 0px 4px;
  color: white;
}

.attributeHead .resetIcon {
  color: rgb(80, 80, 80);
  margin: 0 4px;
  cursor: pointer;
}

.fieldUnit input,
.fieldUnit input:focus,
.fieldUnit input:active {
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  border-top: 1px solid gray;
  outline: none;
  height: 100%;
  padding: 0 4px;
}

.fieldUnit .dateTimeFields {
  display: flex;
}

.fieldUnit .dateTimeFields input:first-of-type {
  border-right: 1px solid gray;
}

.submitButton {
  margin-top: 16px;
  border: 2px solid rgb(5, 114, 5);
  padding: 8px 20px;
  border-radius: 4px;
  color: rgb(5, 114, 5);
  cursor: pointer;
}


.submitButton:hover {
  background-color: rgb(5, 114, 5);
  color: white;
}
