.content-view-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.table-content-viewer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  padding: 12px;
  width: 100%;
  height: 100%;
}

.content-view-header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  border: 2px solid transparent;
  height: 48px;
  align-items: center;
  z-index: 500;
  min-width: 420px;
}

.table-type-tag {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 48px;
  font-weight: 700;
  color: #FBFBFB;
  font-size: 67%;
  box-sizing: border-box;
  padding-right: 2px;
}

.content-view-header .table-name {
  margin: 0 0 0 12px;
}

.content-view-header .content-controllers {
  width: 66%;
  display: flex;
  justify-content: flex-end;
  right: 12px;
  position: absolute;
}

.content-controllers button {
  padding: 4px 24px;
  margin-left: 12px;
  border: 2px solid #262A22;
  /* background-color: #F1F1F1; */
  background-color: #FBFBFB;
  border-radius: 4px;
  color: #262A22;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  font-size: 0.8rem;
}

.view-area {
  display: flex;
  margin: 0 0 auto;
  background-color: #FBFBFB;
  width: 100%;
  flex-grow: 1;
  -webkit-flex: 1;
  box-shadow: -1px 0px 3px #91938F;
}


.content-controllers button:hover {
  border-color: #399E5A;
  color: #399E5A
}

.content-controllers button:disabled {
  border: 2px solid #969b91;
  background-color: #F1F1F1;
  color: #969b91;
  cursor: not-allowed;
}

.content-controllers button.selectedButton {
  background-color: #399E5A;
  border-color: #399E5A;
  color: #FBFBFB;
}

.content-controllers button .menuIcon {
  margin-right: 8px;
  margin-top: 1px;
}

.table-content-viewer .content-view-header.computed {
  border-color: #BC3B68;
}
.table-content-viewer .content-view-header.imported {
  border-color: #3C57C7;
}
.table-content-viewer .content-view-header.lookup {
  border-color: #000000;
}
.table-content-viewer .content-view-header.manual {
  border-color: #399E5A;
}
.table-content-viewer .content-view-header.part {
  border-color: #8A8A8A
}

.table-content-viewer .table-type-tag.computed {
  background-color: #BC3B68;
}
.table-content-viewer .table-type-tag.imported {
  background-color: #3C57C7;
}
.table-content-viewer .table-type-tag.lookup {
  background-color: #000000;
}
.table-content-viewer .table-type-tag.manual {
  background-color: #399E5A;
}
.table-content-viewer .table-type-tag.part {
  background-color: #8A8A8A
}

.edit-zone {
  height: 320px;
  box-sizing: border-box;
  border: 1px solid #91938F;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  display: inline-block;
  flex-grow: 1;
  -webkit-flex: 1;
  flex-basis: 1em;
  font-size: 0.85rem;
  overflow-y: scroll;
  border-collapse: collapse;
  text-align: left;
}

.paginator {
  display: block
}

.table th {
  border-bottom: 3px solid #91938F;
}

.table th div, .table td {
  padding: 2px 2px 2px 7px;
}

.check-box-cell {
  width: 1%;
  height: 1%;
}

.table td {
  border-right: 1px solid #C8C9C7;
  border-bottom: 1px solid #C8C9C7;
}


.content-view-area .table .headerRow .headings .headerContent.primary {
  font-weight: bolder;
  color: #4B9A5F;
}

.content-view-area .table .headerRow .headings .headerContent.secondary {
  font-weight: normal;
}

.content-view-area .table .tableRow {
  border-bottom: 1px solid #F1F1F1;
}

div.cellDivider {
  position: absolute;
  width: 2px;
  height: 100%;
  cursor: col-resize;
  right: 0;
  top: 0;
  bottom: 0;
}


input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"][disabled] {
  cursor: not-allowed;
}

.paginator p{
  margin: 8px 0 0 0;
}

.paginator .icon {
  color: #91938F;
  font-size: 0.8rem;
  margin: 0 4px;
  cursor: pointer;
}

.paginator .icon.disabled {
  color: #C8C9C7;
  cursor: not-allowed;
}

.number-of-rows-per-page-input {
  display: flex;
  flex-direction: row;
}

.number-of-rows-per-page-input input{
  margin-left: 20px;
  width: 40px;
}

.loadingBackdrop {
  position: absolute;
  background-color: rgba(38, 42, 34, 0.7); /* equivalent to #262A22 at 70% opacity */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingPopup {
  position: relative;
  background-color: rgba(251, 251, 251. 0.6); /* equivalent to #FBFBFB at 60% opacity*/
  border-radius: 2px;
  width: 300px;
  height: 200px;
  color: #262A22;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingPopup p {
  position: absolute;
  z-index: 999;
  bottom: 16px;
}

@media only screen and (max-width: 1366px) {
  .content-controllers button {
    padding: 4px 16px;
    margin-left: 6px;
    font-size: 0.7em;
  }

  table.table {
    font-size: 0.8rem;
  }


}

@media only screen and (max-width: 960px) {
  .content-controllers button {
    padding: auto;
    width: 40px;
    margin-left: 6px;
    flex-direction: column;
    align-items: center;
  }

  .content-controllers button .menuIcon {
    margin-right: 0;
    margin-bottom: 2px;
    font-size: 0.9rem;
  }

  .content-controllers button span {
    font-size: 0.5rem;
  }

  table.table {
    font-size: 0.75rem;
  }
}

.hidden-action-menu-container {
  visibility: hidden;
  display: none;
  height: 0px;
}